---
import Layout from "@/layouts/Layout.astro";
import TagSelector from "@/components/TagSelector.astro";
import Pagination from "@/components/article/Pagination.astro";

const { title, prevUrl, nextUrl, currentPage, lastPage } = Astro.props;
---

<Layout title={title}>
  <div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
    <TagSelector />
    <section class="mt-6 w-full">
      <div
        class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
      >
        <slot />
      </div>
    </section>
    <Pagination
      prevUrl={prevUrl}
      nextUrl={nextUrl}
      currentPage={currentPage}
      lastPage={lastPage}
    />
  </div>
</Layout>
